.row {
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    margin-bottom: 0;
}

.bordContent {
    border: 1px solid black;
    margin: 20px;
    margin-top: 0;
    padding: 10px;
    padding-top: 0;
    border-top: 0;
}

show {
    display:inline;
}

div[id^="collapseBoard_"]{
    margin:5px;
    border-top:0;
    margin-top:0;
    padding:0;
    text-align: center;
}





