<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
    {% extends 'layout.html' %}
    {% block content %}


    <div class="container">
        <div class="row1 row d-flex">
            <div class="d-flex v-auto ml-auto">
                <button type="button" id="addNewBoard" class="btn btn-outline-dark">+ New Board</button>
            </div>
        </div>
        <div class="row2 row d-flex">
            <div class="col-2">
                <h4 id="nameBoard">Test Board 1</h4>
            </div>
            <div class="col-sm">
                <button type="button" id="addColumn" class="btn btn-outline-dark">+ New Column</button>
            </div>
            <div class="dropdown d-flex v-auto ml-auto">
                <button type="button" id="dropDown" class="btn btn-outline-dark dropdown-toggle"></button>
            </div>
        </div>
    </div>


    {% endblock %}



    </body>
</html>