<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
    {% extends 'layout.html' %}
    {% block content %}


    <div class="container">
        <div class="row1 row d-flex">
            <div class="d-flex v-auto ml-auto">
                <button type="button" id="addNewBoard" class="btn btn-outline-dark">+ New Board</button>
            </div>
        </div>

    </div>
        <h1 id="boardTitle" contenteditable="true">HEo</h1>
<script>
    document.getElementById('boardTitle').addEventListener('click', editTitle)

    function editTitle(event){
        console.log(event)
        const titleOld = event.target.innerText
        console.log(titleOld)
        window.localStorage.setItem('ID', titleOld)
        }


</script>

    {% endblock %}



    </body>
</html>